@import "../../variables";

.list {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fill, 12rem);
  grid-template-rows: repeat(auto-fill, 16rem);
  width: 80vw;
  margin: 50px 10vw;
  align-items: center;
  justify-content: space-between;
}

.categories {
  display: flex;
  flex-flow: row nowrap;
  width: 80vw;
  margin: calc($navBarHeight + 30px) 10vw 0;
  gap: 20px;
  li {
    color: $light;
  }
}
