@import "../../variables";

.product {
  border-radius: $curve;
  border: solid $light 1px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 16rem;
  .photo {
    width: 50%;
  }
  .name {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem;
  }

  .price {
    font-size: 1.6rem;
    font-weight: 700;
  }
}

.product:hover h2,
.product:hover span {
  color: $primary;
}
